import React from 'react';
import styles from './app.module.css';

export function App() {
  return (
    <div className={styles.container}>
      <h1>Welcome to <%= name %></h1>
      <p>Team: <%= team %></p>
    </div>
  );
}

export default App;
